* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
body {
  background-image: url("./imagens/godzilla.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  height: 10vh;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegador-primario {
  width: 33vw;
  margin: 5px 10px 5px 0;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}
.logo {
  width: 30em;
}
.navegador-secundario {
  margin-right: 40px;
  font-size: 20px;
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.sessao_primaria {
  height: 30vh;
  width: 35vw;
  margin: 5vh 10vh 5vh 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
}
#titulo {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 130px;
}
#sub-titulo {
  font-size: 52px;
  font-family: Arial, Helvetica, sans-serif;
}
#span1 {
  color: #7bc4db;
}
#texto {
  margin-top: 15px;
  font-size: 17px;
}
.estrelas {
  margin-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}
li {
  display: inline-block;
}
.sessao-container {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.botao {
  height: 7vh;
  width: 8vw;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 13px;
  color: white;
  background-color: #7bc4db;
  margin-right: 25px;
  font-size: 20px;
  margin-bottom: 60px;
}
#trailer {
  font-size: 19px;
  color: #7bc4db;
  font-weight: 300;
  left: 299px;
  letter-spacing: 1.5px;
  line-height: normal;
  text-decoration: underline;
  top: 539px;
  white-space: nowrap;
  margin-bottom: 60px;
}

.titulo-filmes {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  margin-top: 80px;
}
.filmes {
  border-top-width: 225px;
  border-bottom-width: 100px;
  color: black;
  position: absolute;
  width: 1314px;
  height: 286px;
  left: 200px;
  top: 550px;
  z-index: 1;
}
#batman {
  position: absolute;
  left: 64px;
  top: 35px;
}
#godzilla {
  box-sizing: border-box;
  position: absolute;
  left: 275px;
}
#uncharted {
  position: absolute;
  left: 533px;
  top: 35px;
}
#ambulance {
  position: absolute;
  left: 740px;
  top: 30px;
}
#turning-red {
  position: absolute;
  left: 947px;
  top: 30px;
}
#avengers {
  position: absolute;
  left: 1152px;
  top: 30px;
}
.borda {
  -webkit-backdrop-filter: blur(20%) brightness(100%);
  backdrop-filter: blur(20%) brightness(100%);
  background-color: #67657157;
  border: 1px solid;
  border-color: #ffffff24;
  position: absolute;
  width: 1300px;
  height: 286px;
  left: 250px;
  top: 565px;
}
